@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Times New Roman', Times, serif; */
}

body {
  background: #f3f4f6;
}

.chat-container {
  height: 100vh;
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: linear-gradient(90deg, #3b82f6, #6366f1);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  margin: 20px;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.logo img {
  width: 50px;
  height: auto;
}

.logo span {
  font-weight: 600;
  background: linear-gradient(to right, #d946ef, #5eead4);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.channels {
  flex: 1;
  margin: 20px;
}

.channel {
  margin: 10px 0;
  cursor: pointer;
  opacity: 0.8;
  padding: 10px 20px;
  border-radius: 8px;
  transition: 0.3 ease;
}

.channel:hover {
  opacity: 0.5;
  color: #111827;
  background: #f9fafb;
}

.channel.active {
  font-weight: 600;
  opacity: 1;
  background: #f9fafb;
  color: #111827;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 5px 20px;
  margin: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  border-radius: 8px;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #e5e7eb;
  transition: 0.3s ease;
}

.username {
  font-weight: 500;
  font-size: 1.1rem;
}

.user-profile:hover {
  color: #111827;
  background: #f9fafb;
}

.user-profile:hover .avatar {
  background: #d1d5db;
}

/* Main Chat Area */
.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: #fff;
  /* border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
}

.chat-header {
  padding: 20px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #f9fafb;
}

.chat-header h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 600;
  color: #111827;
}

.topic {
  font-size: 0.9rem;
  color: #6b7280;
  margin: 5px 0 0;
}

.chat-messages {
  position: relative;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background: #f3f4f6;
}

.message-bubble {
  max-width: 60%;
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 15px;
  line-height: 1.4;
}

.my-message {
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  color: #fff;
  margin-left: auto;
  text-align: right;
}

.other-message {
  background: linear-gradient(135deg, #d1d5db, #e5e7eb);
  color: #111827;
}

.message-user {
  font-weight: 600;
  margin-bottom: 5px;
}

.message-text {
  margin: 0;
  text-align: justify;
  padding: 0 10px;
}

.chat-input {
  display: flex;
  padding: 10px 20px;
  border-top: 1px solid #e5e7eb;
  background-color: #f9fafb;
}

.chat-input input {
  flex: 1;
  padding: 12px 10px;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  outline: none;
  font-size: 0.9rem;
  margin-right: 10px;
}

.chat-input button[disabled] {
  background: gray;
  opacity: 0.5;
  cursor: not-allowed;
}

.chat-input button {
  padding: 12px 20px;
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease;
}

.footer-message {
  text-align: center;
  font-size: 0.8rem;
  padding: 2px 0;
  color: #6b7280;
}

.chat-messages button {
  position: sticky;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: gray;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  justify-content: center;
  align-items: center;
}
.chat-messages button img {
  width: 30px;
  height: 30px;
  filter: invert(100%);
}
